/* CHALLENGE ONE FINISHED*/

body {
    background-color: black;
    color: white;
    font-family: Helvetica;
    font-size: 22px;
    padding: 20px;
}

h1 {
    color: rgb(255, 203, 5); /* rgb value */
    text-align: center;
}

.big_div {
    margin: 30px;
    padding: 20px;
    color:white;
    border: 3px solid darkblue;
}

.pokemon_name {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    display: block;
    margin: 10px;
    color: white;
}

.sub_div {
    display: flex;
}

img {
    height: 250px;
    padding-right: 50px;
}

#special {
    font-weight: bold;  
    color: rgb(255, 203, 5);
    font-weight: bold;
}