/* WARM-UP CHALLENGE FINISHED */

h1 {
    font-family: Helvetica;
    font-size: 300%;
    color: #ffd63e;
    text-align: center;
}

/* Record your solutions here:
   #1 - body
   #2 - div
   #3 - .chuuuuu
   #4 - #unique
   #5 - h1

   e.g. - .pika               */